:root {
  --primary-color: #646cff;
  --secondary-color: #61dafbaa;
  --text-color: #333;
  --padding-base: 1.5em;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: var(--padding-base);
  text-align: center;
}

.logo {
  height: 6em;
  padding: var(--padding-base);
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em var(--primary-color)aa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em var(--secondary-color)aa);
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: var(--padding-base);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.read-the-docs { 
  color: #888;
}

button { 
  margin: 10px;
}

.profile-info {
  text-align: right; /* יישור לימין של הטקסט */
  margin-bottom: 1.5rem; /* מרווח תחתון לכל אזור המידע */
}

.profile-info-item { /* סגנון לכל שורת מידע */
  display: flex; /* הופך את האלמנט לגמיש */
  align-items: center; /* יישור אנכי למרכז */
  margin-bottom: 0.7rem; /* מרווח בין השורות */
  direction: rtl; /* כיוון מימין לשמאל */
}

.profile-info-item i {
  margin-left: 0.5rem; /* מרווח בין הסמל לטקסט */
}

.link-button {
  color: blue;
  text-decoration: none;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.link-button:hover {
  color: darkblue;
  text-decoration: underline; /* הוספנו את זה */
}

.link-button:active {
  color: #0056b3;
}